.container {
  height: calc(100vh - var(--global-header-height) - var(--content-margin-top) - var(--content-margin-bottom));
  overflow: scroll;
  padding-right: 10px;
  padding-bottom: 40px;
}

.empty {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.title {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  border-block-end: 1px solid rgba(5,5,5,0.06);
  z-index: 1;
  background-color: rgb(244, 244, 245);
  padding-top: 5px;
}

.titleTextArea:focus {
  border: 1px solid #4096ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1)
}

.editorContainer {
  position: relative;
  padding: 0px;
  min-height: 240px;
  width: 100%;
  border: 1px solid rgba(5,5,5,0.06);
  border-radius: 2px;
}

.contentEditable {
  outline: none;
  padding: 3px;
}

.placeholder {
  position: absolute;
  color: #888888;
  top: 31px;
  left: 0px;
  padding: 3px;
  pointer-events: none;
  user-select: none;
}

.footer {
  position: fixed;
  bottom: 0;
  border-block-start: 1px solid rgba(5,5,5,0.06);
  background-color: rgb(244, 244, 245);
  min-height: 40px;
  width: 100%
}