.pageLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.leftContent {
  max-width: 25%;
  height: 100vh;
  background-color: #171a21;
  padding: 20px 10px;
  color: rgba(255, 255, 255, 0.7);
}

.centerLayout {
  height: 100vh;
  flex: 1;
  background-color: rgb(245, 245, 244);
}

.rightContent {
  flex: 1;
  background-color: #ffffff;
}

.rightContentClose {
  display: none;
}