.pageLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(244, 244, 245)
}

.leftContent {
  max-width: 25%;
  height: 100vh;
  padding: 20px 10px;
}

.centerLayout {
  height: calc(100vh - 20px);
  margin: 10px 0;
  flex: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.listContent {
  margin: 10px 0px;
  padding: 0px 10px;
  overflow: scroll;
}

.rightContent {
  flex: 1;
}

.rightContentClose {
  display: none;
}