.pageLayout {
  min-height: calc(100vh - var(--global-header-height));
  display: flex;
  flex-direction: row;
  background-color: rgb(244, 244, 245)
}

.header {
  height: var(--global-header-height);
  background-color: rgb(244, 244, 245);
  -webkit-app-region: drag;
}

.leftContent {
  max-width: 25%;
  height: calc(100vh - var(--global-header-height));
  padding: 20px 10px;
}

.centerLayout {
  height: calc(100vh - var(--global-header-height) - var(--content-margin-top) - var(--content-margin-bottom));
  margin: var(--content-margin-top) var(--content-margin-bottom) 10px 0px;
  flex: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.addTaskFormContent {
  position: sticky;
  top: 0;
  max-height: 40px;
  margin: 10px 10px 0px;
}

.listContent {
  padding: 0px 10px;
  overflow: scroll;
}

.rightContent {
  flex: 1;
  margin: var(--content-margin-top) var(--content-margin-bottom) 0 0;
}

.rightContentClose {
  display: none;
}